.box{
    background: linear-gradient(70deg,#c6d3e8,#ebf6f7,#c6d3e8);
    border-radius:28px;
}
.createbtn{
    background-color:#022e45;
    color: white;
    /* margin-top:3%; */
    font-weight:700;
}
.createbtn:hover{
    border: 1px solid #022e45;
}

.form-control{
    background-color:#ebf6f7 ;
}
.form-label{
    margin-top:7px;
}